body {
    background-color: aliceblue;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ff9749;
}

a:hover {
    text-decoration: none;
    color: #ffedea;
}

.menu-sign {
    width: 100vw;
    position: absolute;
    background-color: #2e6da4;
}

.menu-sign ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-sign li {
    padding-right: 25px;
}
.menu {
    width: 20%;
    background-color: #2e6da4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu ul {
    list-style: none;
}

.menu li {
    padding-bottom: 15px;
}

#sidebar+#wrapper {
    margin-left: 0;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

#wrapper+#sidebar {
        margin-left: 18em;
}

#wrapper+#header>.wrapper>.container>.inner {
            margin: 0 auto;
}

#wrapper section {
    display: none
}

.intro {

    background-size: 100% 100%;
    background: /*url("images/intro.svg"),*/ no-repeat, top right, fixed;
}

.intro .inner {
    padding-top: 255px;
}

.taskDone {
    color: green;
}

#tableTodo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mytodolist {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
}

nav li {
    padding-bottom: 15px;
    list-style: none;
}

nav li a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.inner{
    width: 80%;
}

#navbar {
    width: 20%;
    background-color: #8E9CB2;
    height: 93vh;
}

/* --------------------------------------- */
/* --------- LOGIN + REGISTER  ----------- */
/* --------------------------------------- */

.login-page{
    display: flex;
    justify-content: center;
    padding: 10% 0 0;
}

.form{
    z-index: 1;
    text-align: center;
}

.form input{
    width: auto;
    margin: 0 0 15px;
    padding: 15px;
}

.form button{
    margin-top: 15px;
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    outline: none;
    text-transform: uppercase;
    background-color: transparent;
}

.form button:hover {
    background: #18392b;
    margin-top: 15px;
    padding: 5px 15px;
    color: whitesmoke;
    outline: none;
    border: none;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration:  650ms;
    animation-iteration-count: infinite;
}

[type="text"] {
    background-color: transparent;
    text-align: center;
    border: none;
    border-style: inherit;
    border-bottom: .5px solid #18392b;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-bottom: 15px;
    padding: 12px 15px;
}

[type="text"]:focus {
    color: #18392b;
    outline: none;
    border-bottom: .5px solid tomato;
}

[type="text"]:hover {
    border-bottom: .5px solid tomato;
}

[type="password"] {
    background-color: transparent;
    text-align: center;
    border: none;
    border-style: hidden;
    border-bottom: .5px solid #18392b;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 12px 15px;
    text-decoration: none;
}

[type="password"]:focus {
    color: #18392b;
    outline: none;
    border-bottom: .5px solid tomato;
}

[type="password"]:hover{
    border-bottom: .5px solid tomato;
}

[type="email"]{
    background-color: transparent;
    text-align: center;
    border: none;
    border-style: hidden;
    border-bottom: .5px solid #18392b;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 12px 15px;
    text-decoration: none;
}

[type="email"]:focus {
    color: #18392b;
    outline: none;
    border-bottom: .5px solid tomato;
}

[type="email"]:hover{
    border-bottom: .5px solid tomato;
}

::placeholder {
    color: tomato;
}


[type="create"] {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    outline: none;
    text-transform: uppercase;
    background-color: transparent;
    border-bottom: .5px solid #18392b;
}

[type="create"]:hover {
    background: #18392b;
    margin-top: 15px;
    padding: 5px 15px;
    color: whitesmoke;
    outline: none;
    border: none;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration:  650ms;
    animation-iteration-count: infinite;
}

.message {
    font-size: 10px;
    margin-top: 30px;
}

.message a{
    text-decoration: none;
    color: #18392b;
}

.message a:hover{
    color: tomato;
}

.form .register-form{
    display: none;
}
